{% extends "geocamTalk/base.html" %}

{% block title%}GeoCam Talk Messages{% endblock %}

{% block content %}
<div id="messages">
<dl id="message_list">
{% for m in gc_msg %}
	<dt id="message_{{m.pk}}">
	  On {{ m.get_date_string }}
	  {% if recipient %} 
	  <a href="{% url geocamTalk.views.message_list recipient.username m.author.username %}"> 
          {{ m.get_author_string}}</a>
      {% else %}
          {{ m.get_author_string}}
      {% endif %}
	 	said
	  {% if m.has_geolocation %}<img src="/resources/map.png" />{%endif%}
	</dt>
	<dd id="message_{{m.pk}}_content">
    	<p>{{ m.content}}</p>
	</dd>
{% endfor %}
</dl>

<a href="/talk/messages/create/">New Message</a>
</div>
{% endblock %}

{% block js %}
<script>
	$(document).ready(function() {
		var running_timestamp = {{ timestamp }};
		var new_message_count = 0;
		setInterval(function(){
			// messagefeed.json looks like this:
	        // [{"content": "The hospital is full, no more beds...", "content_timestamp": "02/19 21:35:52", "has_geolocation": -122.4048743, "author": "Adam Grant"}, 
	        //  {"content": "Casualties are littering the streets!", "content_timestamp": "02/19 21:35:29", "has_geolocation": -122.4048743, "author": "Adam Grant"}, 
	        //  {"content": "Some crazy stuff is happening in this neighborhood.", "content_timestamp": "02/19 21:34:46", "has_geolocation": -122.4048743, "author": "Adam Grant"}]
	        {% if author %}
	        	var url = '/talk/messagefeed/{{recipient.username}}/{{author.username}}'
	        {% else %}
	        	{% if recipient %}   
	        		var url = '/talk/messagefeed/{{recipient.username}}'
	        	{% else %}   
	        		var url = '/talk/messagefeed'
	        	{% endif %}
	        {% endif %}
	        url = url + '?since=' + running_timestamp;
	        $.getJSON(url, function(data) {
	            var html_str = "";	
	        	for (var i in data['ms']) {
	        		var msg = data['ms'][i];
	        		var pk = msg['messageId'];
	        		var content = msg['content'];
	        		var content_timestamp = msg['content_timestamp'];
	        		var has_geolocation = msg['has_geolocation'];
	        		var authorUsername = msg['authorUsername'];
	        		var authorFullname = msg['authorFullname']
	        		{% if recipient %}
	        		    authorUsername = '<a href="/talk/messages/{{ recipient.username }}/' +authorUsername+ '">' +authorFullname+ '</a>' ;
	        		{% endif %}
	        		
	        		html_str += '<dt id="message_'+pk+'">';
	        		html_str += 'On '+content_timestamp+' '+authorUsername+' said';
	        		if (has_geolocation == true) {
	        			html_str += '<img src="/resources/map.png" />';
	        		}
	        		html_str += '</dt>';
	        		html_str += '<dd id="message_'+pk+'_content">';
	        		html_str += '<p>'+content+'</p>';
	        		html_str += '</dd>';
	        	}
        		$('#message_list').prepend(html_str);
	        	running_timestamp = data['ts'];
	        	new_message_count += data['msgCnt'];
	        	$('#new_message_count').html(new_message_count);
	        });
		}, 3*1000);
	});
</script>
{% endblock %}