{% extends "geocamTalk/base.html" %}
{% block title%}Create New GeoCam Talk Message{% endblock %}
{% block content %}

<script>
	setInterval("setTheTime()", 1000);
	function setTheTime () {
		var curtime = new Date();
		var curhour = curtime.getHours();
		var curmin = curtime.getMinutes();
		var cursec = curtime.getSeconds();
		var time = "";
		if(curhour == 0) curhour = 12;
		time = (curhour > 12 ? curhour - 12 : curhour) + ":" +
		(curmin < 10 ? "0" : "") + curmin + ":" +
		(cursec < 10 ? "0" : "") + cursec + " " +
		(curhour > 12 ? "PM" : "AM");
		$('#time').html(time);
	}
	
	function error(msg) {
   		$('#status').html(msg);
	}


	function success(position) {
		$('#status').html('Geolocation was successful.');
		var add_str = ""
		if (position.coords.latitude != null) {
			add_str += '<input type="hidden" name="latitude" value='+position.coords.latitude+' />';
		}
		if (position.coords.longitude != null) {
			add_str += '<input type="hidden" name="longitude" value='+position.coords.longitude+' />';
		}
		if (position.coords.altitude != null) {
			add_str += '<input type="hidden" name="altitude" value='+position.coords.altitude+' />';
		}
		if (position.coords.accuracy != null) {
			add_str += '<input type="hidden" name="accuracy" value='+position.coords.accuracy+' />';
		}
		if (position.coords.heading != null) {
			add_str += '<input type="hidden" name="heading" value='+position.coords.heading+' />';
		}
		if (position.coords.speed != null) {
			add_str += '<input type="hidden" name="speed" value='+position.coords.speed+' />';
		}
		if (position.timestamp != null) {
			add_str += '<input type="hidden" name="position_timestamp" value="'+position.timestamp+'" />';
		}
		$('#add_field').html(add_str);
	} 
    
	$(document).ready(function() {
  		    $('select[name="author"]').val({{ user.pk }}).attr({disabled:true});
			if (navigator.geolocation) {
		  		navigator.geolocation.getCurrentPosition(success, 
		  						error('Geolocating...'));
			} else {
		  		error('Geolocation is not supported.');
			}
		});
</script>

{% if form.errors %}
<div id="form-error">
  <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
  <ul>
  {% for field in form %}
	 {% if field.errors %}<li>{{ field.label }} {{ field.errors|striptags }}</li>{% endif %} 
  {% endfor %}
  </ul>
</div>
{% endif %}

<p><div id='status'></div></p>
<p>Current time: <div id='time'></div></p>
<form action="/talk/messages/create/" method="post">
	{% csrf_token %}
	<table>
        <tr>
        <td>{{ form.content.label_tag }}</td>
        <td>{{ form.content }}</td>
        </tr>
	</table>
	<input type="hidden" name="author" value="{{ user.pk }}" />
    <span id="add_field"></span>
    <input type="submit" value="Send Message" />
</form>

{% endblock %}