{% extends "geocamTalk/base.html" %}

{% block title%}GeoCam Talk Messages{% endblock %}

{% block content %}
<a href="{% url geocamTalk.views.create_message %}" data-role="button" data-inline="true">New Message</a>
<h1>
	{% if recipient != None and author != None %}
		Messages to
		{% if recipient == user %}
			me
		{% else %}
			{{recipient.full_name}}
		{% endif %}
		from
		{% if author == user %}
			me
		{% else %}
			{{author.full_name}}
		{% endif %}
	{% else %}
		{% if recipient != None %}
			{% if recipient == user %}
				My
			{% else %}
				{{recipient.full_name}}'s
			{% endif %}
			messages
		{% else %}
			All Messages
		{% endif %}
	{% endif %}
</h1>
<div id="messages">
<ul id="message_list">
{% for m in gc_msg %}
	<li id="message_{{m.pk}}">
	  <p id="message_{{m.pk}}_header">
	  On {{ m.get_date_string }}
	  {% if recipient %} 
	  <a href="{% url geocamTalk.views.message_list recipient.username m.author.username %}"> 
          {{ m.get_author_string}}</a>
      {% else %}
          {{ m.get_author_string}}
      {% endif %}
	  {% if m.has_geolocation %}<a href="#" data-rel="dialog" data-transition="pop" data-inline="true" data-role="button" data-icon="geoCam-map" data-iconpos="notext">Map Info</a>{%endif%}
	  {% if m.has_audio %}
          <a class="media" href="{{m.audio_file.url}}"></a>
      {%endif%}
      </p>
      <p id="message_{{m.pk}}_content">
    	{{ m.content}}
	  </p>
	</li>
{% endfor %}
</ul>
</div>
{% endblock %}

{% block js %}

{% endblock %}
