{% extends "geocamMemo/base.html" %}

{% block js %}
<script>
	$('#bodydiv').live('pageshow', function(event) {
        //alert('x');
        createMap({{ first_geolocation.0 }},{{ first_geolocation.1 }});
	});
	
function createMap(latitude, longitude) {
    	var latlng = new google.maps.LatLng( latitude,longitude );
		var myOptions = {
			    zoom: 12,
			    center: latlng,
			    mapTypeControl: false,
			    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
			    mapTypeId: google.maps.MapTypeId.ROADMAP
			  };	
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		
		{% for m in gc_msg %}
		   {% if m.has_geolocation %}
		   var latlng = new google.maps.LatLng({{m.latitude}},{{m.longitude}});
		   var marker = new google.maps.Marker({
	                                            position: latlng, 
	                                            map: map });
		   {% endif %}
		{% endfor %}
		
		google.maps.event.trigger(map,'resize');
	}

</script>
{% endblock %}

{% block content %}
<section id="map_canvas" style="width: 320px; height: 400px">
</section>
{% endblock %}