{% extends "base.html" %}

{% block title%}GeoCam Memo Messages{% endblock %}

{% block content %}
<div id="messages">
<ul id="message_list">
{% for m in gc_msg %}
    <li id="message_{{m.pk}}">
      <p id="message_{{m.pk}}_header">
          On {{ m.get_date_string }} {{ m.get_author_string}} said
          {% if m.has_geolocation %}<img src="/media/geocamMemo/geoloc.png" />{%endif%}
      </p>
      <p id="message_{{m.pk}}_content">{{ m.content}}</p>
    </li>
{% endfor %}
</ul>
<a href="/memo/messages/create/">New Message</a>
</div>
{% endblock %}